* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #920f68;
    color: #fff;
    padding: 18px 0;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 18px solid #000;
    
    
}

.container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;

}

header img {
    height: 35px;
    margin-right: 20px;
}

body {
    background-color: #920f68;
    color: #fff;
}

form {
    padding: 25px;
    text-align: center;

}

form input, button {
    padding: 15px ;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    margin-right: 30px;
    max-width: 640px;
}

form button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

table h2{
    border-bottom: 2px solid #fff;
}

table td {
    text-align: center;
    padding: 10px;
    color: #000;
}

table {
    width: 100%;
    margin-top: 25px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}